spring:
  application:
    name: localhost
  datasource:
    url: jdbc:postgresql://localhost:5432/db_grupp
    username: postgres
    password: ${PG_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
      show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
      jdbc:
        batch_size: 1000
        batch_versioned_data: true
        order_inserts: true
        order_updates: true